@charset "UTF-8";
body{
    background-image: linear-gradient(270deg,rgba(255,255,255,1),rgba(253, 249, 3, 0.5)) ;
    text-align: center;
}
nav#menu{
    display:block;
}
nav#menu ul{
   list-style: none;
   text-transform: uppercase;
   /*position: absolute;
   top:0px;
   left:500px;*/
}
nav#menu li{
    display: inline-block;
    padding: 10px;
    margin:2px;
    transition: 500ms;
}
nav#menu li:hover{
    padding: 10px;
    font-size: 30px;
    transition: 500ms;
    background-color: black;
    border-radius: 25px;
        
}
#menu a{
    color: black;
    text-decoration: none;
    
}
#menu a:hover{
    color:white;
    text-shadow: 3px 3px 5px;
}
.left{
    float:left;
    color: black;
}
div li{
    list-style: none;
}
footer{
    background-color:rgba(0,0,0,1) ;
    height: 50px;
    color:white;
    width: 100%;
    margin-top: 5px;
}
fieldset{
    text-align: left;
    width: 800px;
    margin: auto;
    box-shadow: 3px 3px 3px black;
    transition: 500ms;
}
fieldset:hover{
    width: 900px;
    margin: auto;
    box-shadow: 5px 5px 5px black;
    
}
img{
    margin-right: 10px;
}