
*.exe
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/description.txt
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/cover.png
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/9. 8 - Comunicação Serial/2. Comunicação Serial pt 3 e pt 4/links.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/9. 8 - Comunicação Serial/2. Comunicação Serial pt 3 e pt 4/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/9. 8 - Comunicação Serial/1. Comunicação Serial pt 1 e pt 2/links.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/9. 8 - Comunicação Serial/1. Comunicação Serial pt 1 e pt 2/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/8. 7 - PWM e RGB/2. Modulação e RGB - pt4 e pt5/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/8. 7 - PWM e RGB/1. Modulação e RGB - pt1, pt2 e pt3/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/3. 2 - Princípios da Eletricidade/1. Princípios da Eletricidade/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/2. 1 - O que você precisa/1. Contextualização de Softwares/links.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/2. 1 - O que você precisa/1. Contextualização de Softwares/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/12. Conteúdo Bônus  Lei de Ohm/3. Circuito Paralelo e Misto/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/11. 10 - Desfecho/1. Exercício prático envolvendo tudo/desc.html
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/1. Cronograma de Aulas/1. Cronograma de Aulas/Materiais/Cronograma.pdf
livros de ti/Arduino_e_Automacao_para_Iniciantes_Thiago_Coimbra_Real_2022_001/\#ZM/Arduino e Automacao para Iniciantes-Thiago Coimbra Real-2022/.config
